# exclude stuff from Private
Private

# exlude pycache or bad
__pycache__

# exclude every .env or also bad
.env

# won't exclude oos.json but probably will later on and create it on first program start/first login
# oss.json